.App {
  text-align: center;
}
.wrapper {
  width: 70vw;
  margin: 0 auto;
}

.logo {
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 3rem;
}

@media (max-width: 768px) {
  main {
    width: 100vw;
  }
}
